@font-face {
    font-family: "Chloe";
    src: url("fonts/Chloe-Regular.otf");
}

a {
    font-family: "Chloe";
    text-decoration: none;
    color: white;
}

a::before {
    color: inherit;
}

a::after {
    color: inherit;
}

html {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #0A0000 30%, #220000 60%, #0A0000 100%);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.stars-background {
    width: 80vw;
    height: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/images/stars.gif");
    background-size: contain;
    background-repeat: repeat-x;
}

.stars-background img {
    width: auto;
    height: 40vw;
}

.buttons-column {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.button {
    width: 60vw;
    height: 10vw;
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    transition: scale 0.5s ease, box-shadow 0.5s ease;
}

.button-content {
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

.button:hover {
    scale: 1.1;
    box-shadow: 0 4px 12px rgba(34, 0, 0, 0.6);
}

.button-icon {
    width: 5vw;
    height: 5vw;
}

.map-button {
}

.map-text {
    width: fit-content;
    padding: 3vw;
    background-color: rgba(255, 255, 255, 0.1);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-family: "Chloe";
    color: white;
}

.map-frame {
    width: 70vw;
    height: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.map {
    width: 60vw;
    height: 60vw;
}